.flexContenedor {
    min-height: 103%;
    min-width: 100%;
    margin: -8px;
}

.flexContenedor1 {
    min-width: 100%;
    margin: -8px;
}


/*
ICONOS    http://fontawesome.io/icons/
*/


/*Nadvar  y NadvarSection*/

.nadvar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    left: 0;
    z-index: 1;
}

.nadvar> * {
    font-size: 25px
}

.logo {
    font: normal 30px/1 "Lobster", Helvetica, sans-serif !important;
    color: white;
    position: absolute;
    left: 2%;
    top: 30%
}

.nadvar >a {
    height: 100%;
    color: white;
    text-align: center;
    margin: 1% 1% 0 1;
    text-decoration: none;
}


/*Seccion  y articulos UNO*/

.seccionUno {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../imgs/portada.png);
    /*padding: 12% 0 0 0;*/
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center top !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.articulo11 {
    text-align: center;
    color: white;
    font: normal 50px/1 "Lobster", Helvetica, sans-serif !important;
}

.articulo11 > h1 {
    text-transform: capitalize !important;
    margin-bottom: 25px;
    font: normal 100px/1 "Lobster", Helvetica, sans-serif !important;
    font-size: 50px;
    color: #FFC813;
}

.articulo11 > a>i {
    padding-top: 5%;
    color: #FFC813;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    /* background-image: our video */
    ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: -1;
}


/*Seccion  y articulos DOS*/

.seccionDos {
    background-color: #FFC813;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}


/*
.seccionDos > h1{
    text-align: center;
}
.seccionDos > * {
  padding: 10px;
  flex: 1 100%;
}
*/

.seccionDos > h1 {
    text-align: center;
    width: 100%;
    font-size: 60px;
    color: white;
    margin: 25px auto;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.seccionDos >.line {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 15%;
    height: 3px;
    background: #fff;
    background-image: -webkit-linear-gradient(left, #FFC813, #fff, #FFC813);
    background-image: -moz-linear-gradient(left, #FFC813, #fff, #FFC813);
    background-image: -ms-linear-gradient(left, #FFC813, #fff, #FFC813);
    background-image: -o-linear-gradient(left, #FFC813, #fff, #FFC813);
    opacity: 0.5;
}

.seccionDos >article {
    text-align: center;
    color: #666;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    /* margin-left: 1%; */
    margin: 0 2% 0 2%;
}

.seccionDos >article >h1 {
    margin: 24px 0;
    text-transform: none;
    font-size: 25px;
    color: #666;
    
    font-weight: 800;
}

.seccionDos >article >p {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

.seccionDos >article >ul {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.seccionDos > article >span >.iconoCirculo {
    color: white;
}

.seccionDos > article >span >.iconoInterior {
    color: #FFC813;
}

.articulo22 {}

.articulo23 {}


/*Seccion  y articulos TRES*/

.seccionTres {
    position: relative;
    display: flex;
    background-color: firebrick;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.seccionTres > h1 {
    margin: 1%;
    text-align: center;
}

.seccionTres > article {
    margin: 1%;
    text-align: center;
}

.articulo31 {
    background-color: #470f7b;
    min-width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.articulo32 {
    background-color: #470f7b;
    min-width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.articulo33 {
    background-color: #470f7b;
    min-width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.lineaTiempo:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: 48%;
    background-color: #f1f1f1;
}


/*Seccion  y articulos CUATRO*/

.seccionCuatro {
    position: relative;
    display: flex;
    background-color: chocolate;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}