body {
    overflow-x: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexContenedor {
    min-height: 103%;
    min-width: 100%;
    margin: -8px;
}

.flexContenedor1 {
    min-width: 100%;
    margin: -8px;
}

.alignleft {
    float: left;
}

.alinright {
    float: right;
}


/*
ICONOS    http://fontawesome.io/icons/
*/


/*Nadvar  y NadvarSection*/

.nadvar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    left: 0;
    z-index: 1000;
}

.nadvar> * {
    font-size: 25px
}

.logo {
    font: normal 30px/1 "Lobster", Helvetica, sans-serif !important;
    color: white;
    position: absolute;
    left: 2%;
    top: 30%
}
.logo:hover{
     animation: iconosRotacion 1s 1;
}
.nadvar >a {
    height: 100%;
    color: white;
    text-align: center;
    margin: 1% 1% 0 1;
    text-decoration: none;
}


/*
****************************************************************
                         SECCION UNO   
******************************************************************
*/

.seccionUno {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../imgs/portada.png);
    /*padding: 12% 0 0 0;*/
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center top !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.articulo11 {
    text-align: center;
    color: white;
    font: normal 50px/1 "Lobster", Helvetica, sans-serif !important;
}

.articulo11 > h1 {
    text-transform: capitalize !important;
    margin-bottom: 25px;
    font: normal 100px/1 "Lobster", Helvetica, sans-serif !important;
    font-size: 50px;
    color: #FFC813;
}

#flecha {  

    color: #FFC813;
    animation: felchaMovimiento 1s infinite;
}

#flecha:hover {}

@keyframes felchaMovimiento {
    50% {
        -ms-transform: translate(0, 50%);
        /* IE 9 */
        -webkit-transform: translate(0, 50%);
        /* Safari */
        transform: translate(0, 20%);
    }
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    /* background-image: our video */
    ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: -1;
}


/*
****************************************************************
                         SECCION DOS   
******************************************************************
*/

.seccionDos {
    background-color: #FFC813;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}


/*
.seccionDos > h1{
    text-align: center;
}
.seccionDos > * {
  padding: 10px;
  flex: 1 100%;
}
*/

.seccionDos > h1 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 80px auto 0 auto;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 700;
    font: normal 60px/1 "Lobster", Helvetica, sans-serif !important;
}

.seccionDos >article {
    text-align: center;
    color: #666;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    /* margin-left: 1%; */
    margin: 0 2% 0 2%;
}

.seccionDos >article >h1 {
    margin: 24px 0;
    text-transform: none;
    font-size: 25px;
    color: #666;
    font-weight: 600;
}

.seccionDos >article >p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.seccionDos >article >ul {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.seccionDos > article >span >.iconoCirculo {
    color: white;
}

.seccionDos > article >span >.iconoInterior {
    color: #FFC813;
}

.seccionDos > article >span:hover {
    animation: iconosRotacion 1s 1;
}

@keyframes iconosRotacion {
    50% {
        transform: rotate3d(1, 0, 0, 180deg);
        animation-timing-function: linear;
    }
}

.articulo22 {}

.articulo23 {}


/*
****************************************************************
                         SECCION TRES   
******************************************************************
*/

.seccionTres {
    position: relative;
    display: flex;
    background-color: #cecece;
    color: #666;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.seccionTres > h1 {
    text-align: center;
    width: 100%;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 700;
    font: normal 60px/1 "Lobster", Helvetica, sans-serif !important;
}

.seccionTres > article {
    margin: 1%;
    text-align: center;
    padding: 0 10% 0 10%;
    z-index: 1;
}

.oDerecha {
    text-align: left;
    float: right;
}

.oIzquierda {
    text-align: right;
    float: left;
}

.redondearContenedor {}

.textoContenedor {
    width: 40%;
    padding: 1%;
}

.redondearImg {
    position: inline;
    border: 5px solid white;
    height: 200;
    width: 200;
    margin: 40 27 0 0;
    -webkit-box-shadow: 7px 9px 39px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 39px -13px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}

.redondearImg:hover {
    border: 5px solid #FB9A00;
    animation: imagenesRotacion 1s 1;
}

#manantial {
    background-color: white;
    background-attachment: local;
}

hr.v {
    position: absolute;
    left: 49%;
    top: 20%;
    width: 4;
    border-style: none;
    border-left: 4px solid white;
    height: 75%;
}

@keyframes imagenesRotacion {
    100% {
        transform: rotate(360deg);
        animation-timing-function: linear;
    }
}


/*
****************************************************************
                         SECCION CUATRO   
******************************************************************
*/

.seccionCuatro {
    position: relative;
    display: flex;
    background-color: chocolate;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}