html {
width: 100%;
height: 100%;
background-color: #708aa5;
color: #5a6676;
text-transform: uppercase;
}
body {

    font-family: 'Open Sans', 'sans-serif';
    background-color: #c8d0db;
    width: 55%;
    height: 73%;
    margin: 0 auto;
    padding: 3%;
    margin-top: 4%;
}
#contact{
    height: 85%;
}

form{
	height: 100%;
}
h1 {
    text-align: center;
    font-size: 40px;

}
#enviar {
color:white;
    float: right;
    width: 26%;
}
fieldset {
    height: 100%;
		border-style: none !important;
}
label {
    padding-top: -4px;
    float: left;
    width: 13%;
    margin-top: 4.5%;
    text-align: right;
}
input, textarea {
    float: right;
    text-transform: uppercase;
    font-size: 1em;
    background: #60768d !important;
    width: 80%;
    min-height: 7%;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 10px;
    padding-left: 15px;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: white;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: white;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: white;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: white;
}
